#!/usr/bin/env bash

{{ binary }} serve \
  --profile-arn {{ rolesanywhere_profile_arn }} \
  --role-arn {{ rolesanywhere_role_arn }} \
  --trust-anchor-arn {{ rolesanywhere_trust_anchor_arn }} \
  --certificate {{ rolesanywhere_certificate }}

